<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let movie of movies">
      <mat-card *ngIf="movie" [routerLink]="['/moviedetail', movie._id]" appHighlight [@expand]>
        <mat-card-header>
          <mat-card-title>
            <h3>{{movie.title | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{movie.urlPoster}}" alt={{movie.title}}>
        <mat-card-content>
          <p>{{movie.description}}
          </p>
        </mat-card-content>
      </mat-card>
      <div [hidden]="movie || movieErrMess">
        <mat-spinner></mat-spinner><h4>Loading . . . </h4>
      </div>
      <div *ngIf="movieErrMess">
        <h2>Error</h2>
        <h4>{{movieErrMess}}</h4>
      </div> 
    </div>
  </div>
</div>