@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary-color-dark:   #996633;

body {
    margin:0!important;
    padding:0!important;
}

.container {
    width:100%!important;
    margin:0!important;
    padding:30px 40px!important;
    display:flex!important;
}

.toolbar {
    background-color: #444444!important;
}

.background-primary {
    background-color: $primary-color-dark!important;
}

.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.highlight {
    border: 1px solid $primary-color-dark!important;
    box-shadow: #996633 0px 0px 50px!important;
    z-index: 1!important;
    transform: scale(1.01)!important;
}