$lt-gray: #ddd;
$background-dark: #ff0033;
$background-light: #ff0033;
$background-pale: #D1C4E9;

.jumbotron {
    background: $background-light;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: $background-dark;
}